body {
    background: #130f40;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ff6b6b;
}
.container {
    width: 800px;
    margin-left: 280px;
}
img {
    padding-top: 15px;
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
.header {
    color: #ff6b6b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact {
    color: #ff6b6b;
}
hr {
    font-weight: 20;
    border-color: #40536b;
}
.box {
    height: 15px;
    width: 70%;
    border-radius: 5px;
    color: #000;
    background: #10ac84;
    padding: 8px;
}
.box1 {
    height: 15px;
    width: 63%;
    border-radius: 5px;
    color: #000;
    background: #10ac84;
    padding: 8px;
}
.box2 {
    height: 15px;
    width: 55%;
    border-radius: 5px;
    color: #000;
    background: #10ac84;
    padding: 8px;
}
.box3 {
    height: 15px;
    width: 40%;
    border-radius: 5px;
    color: #000;
    background: #10ac84;
    padding: 8px;
}
.project-container {
    margin-top: 40px;
}
.social {
    height: 4px;
    width: 4px;
}
.Js {
    color:  #ff6b6b;
}