@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background: #fff;
}
.container {
    width: 800px;
    margin-left: 280px;
}
img {
    padding-top: 15px;
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
.header {
    color: #ff6b6b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact {
    color: #ff6b6b;
}
hr {
    font-weight: 20;
    border-color: #40536b;
}
.box {
    height: 1.5rem;
    width: 70%;
    border-radius: 4px;
    color: #000;
    background: #10ac84;
    padding: 10px;
    padding-top: 3px;
}
.box1 {
    height: 1.5rem;
    width: 63%;
    border-radius: 4px;
    color: #000;
    background: #10ac84;
    padding: 10px;
    padding-top: 3px;
}
.box2 {
    height: 1.5rem;
    width: 48%;
    border-radius: 4px;
    color: #000;
    background: #10ac84;
    padding: 10px;
    padding-top: 3px;
}
.box3 {
    height: 1.5rem;
    width: 40%;
    border-radius: 5px;
    color: #000;
    background: #10ac84;
    padding: 10px;
    padding-top: 3px;
}
.project-container {
    margin-top: 40px;
}
.social {
    height: 4px;
    width: 4px;
}
.Js {
    color:  #ff6b6b;
}



/* media queries */

@media screen and (min-width: 730px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .header {
        margin: 2rem;
        transition: transform .5s;
    }
}
/* #message {
    width: 70%;
    border: none;
    border-radius: 8px;
    padding: 10px;
}

#message:hover {
    transform: translateY(-2px);
}
    */
    


